<div class="col-md-12">
	<div class="col-md-4 welcome">
		<img src="assets/pitcher_sm.jpg" class="homepage_image">
	</div>
	<div class="col-md-8 welcome">
  		<h1 class="welcome_head">jLeague Baseball</h1>
		<h3 class="welcome_body">
		An adaptation of the <a href="http://www.ibl.org/">Internet Baseball League.</a>
		</h3>
  </div>
</div>
