<div class="container">
<h1>jLeague Locations</h1>

<input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter">
<table id="jleague_table" class="order-table table">
	<thead>
	      <th>Location</th>
	      <th>Delete</th>
	</thead>
	<tbody>
	    <% @locations.order('location').each do |location| %>
	      <tr>
	        <td><%= link_to location.location, edit_location_path(location) %></td>
	        <td>
	        <%= link_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    </tr>
	    <% end %>
	</tbody>
</table>
<%= link_to 'Create New Location', new_location_path %>
</div>